

/* body was messing up my margin for my navigation tag so had to reset and also changed the background */
body {
  margin:0;
  background:#0B0C10;
}

 /* setting the font */
p {
  color:#c5c6c7;
  font-family:'Noto Sans', sans-serif;
  margin: 8px;
}

body {
  color:#c5c6c7;
  font-family:'Noto Sans', sans-serif;
  margin: 8px;
}

/* adding margin between paragraphs */
p + p {
  margin-top:20px;
}

/* setting the fonts and margins */
h1,h2,h3,h4,h5,h6 {
  color: #66FCF1;
  font-family: 'Fjalla One', sans-serif;
  margin-left: 8px; /*compensate for the margin 0 in the body so that doesnt look that ugly */
}

/* general font and color for unordered lists to follow */
ul li {
  color:#C3C6C7;
  font-family:'Noto Sans', sans-serif;
}

/* fixing the margin of the pictures due to the margin 0 in the body */
img {
  margin-left: 8px;
}


/* will handle my site looking better for small devices */
@media screen and (max-width: 800px) {
  img {
    height: 20%;
    width: 40%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

/* this is my source class */
.source {
  font-size: 10px;
}


 /* THIS IS MY OUT OF PAGE CSS THAT WILL HANDLE ALL OF THE LINKS THAT DIRECTS TO OTHER PAGES */

.OutofPageNavigation ul {
  background-color: #1F2833;
  width:auto;
  margin:0;
  padding:0;
  text-align: left;
  list-style: none;
}



.OutofPageNavigation li {
  display:inline-block;
  text-decoration: none;
  font-family: 'Fjalla One', sans-serif;
}


.OutofPageNavigation li a {
  text-decoration: none;
  color:#c5c6c7;
  display:block;
  text-align: center;
  padding: 20px 20px;
}

.OutofPageNavigation a:visited {
  text-decoration: none;
}


.OutofPageNavigation li a:hover {
  color:#45A29E;
}

/* THIS IS MY INPAGE NAVIGATION CSS */
.InPageNavigation ul {
  list-style: none;
  margin: 10px 0;
}

.InPageNavigation li a{
  text-decoration: underline;
  color: #c5c6c7;

}

.InPageNavigation li a:hover {
  color:#45A29E;
}

.SellingTable {
  width: 100%;
}


.SellingTable table tr th {
  padding-top:25px;
  padding-bottom:25px;
}


.SellingTable table tr td {
  width:33%;
  padding-bottom: 50px;
}

.center {
  text-align:center;
}

.Top-Left-In-Table {
  text-align: left;
  vertical-align: top;
}

.SellingTable table tr td img {
  height:400px;
  width:400px;
}

.SellingTable table tr td img:hover {
  transform: scale(1.5);
}


.NameOfItem h1 {
  text-align:initial;
  
}

.NameOfItem {
  vertical-align: top;
}

label {
  margin-right:20px;
}
/* css for the pages of items */

.ItemPage h1 {
  color: #66FCF1;
  font-family: 'Fjalla One', sans-serif;
  margin-left: 8px; /*compensate for the margin 0 in the body so that doesnt look that ugly */
  text-align: center;
  font-size: 400%;
}

.table-of-variety {
  margin-left: auto;
  margin-right: auto;
}

.table-of-variety tr {
  text-align: center;
}

.table-of-variety tr td {
  padding: 10px;
}

.table-of-variety tr td img {
  width: 400px;
  height: 400px;
}

.table-of-variety tr td img:hover {
  transform: scale(1.5);
}

